body{
    background-color: rgb(239, 213, 180);
}
.the-section{
    display: flex;
    place-items: center;
    flex-direction: column;
}
.the-section .content{
    align-content: center;
    
}
.content img{
    margin-left: 70px;
}
.content h1{
    font-family:'Lucida Sans Unicode';
}
.the-section .the-timer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.the-section .the-timer p{
    font-family:'Segoe UI';
    font-size: 20px;
    margin-right: 20px;
}

